#root {
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.router-memu {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  background-color: #000;
  z-index: 50;
}
.router-outlet {
  min-height: calc(100vh - 50px);
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.outlet-footer-site {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  justify-content: stretch;
}
.router-outlet-footer {
  background-color: #000;
  color: #fff;

  padding: 50px 50px;
}
.outlet-footer-other {
  margin-top: 2rem;
}
.footer-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 150px;
  max-width: 350px;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;

  .item-title {
    font-weight: bold;
  }
  .footer-item-detail {
    cursor: pointer;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 999;
  color: #fff;
  animation: showMenu 0.5s linear;
}
.top-menu {
  display: flex;
  border-bottom: 1px solid #ccc;
  position: relative;
  justify-content: space-between;
  padding: 0px 12px;
}
.left-top-menu {
  display: flex;
}
.mobile-close-icon {
  /* position: absolute; */
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu-btn {
  padding: 1.25rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.menu-list {
  display: flex;
  flex-direction: column;
}
@keyframes showMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
